.items-seg {
  display: flex;
  justify-content: space-between;
  color: rgb(220, 94, 94);
}

.items-items {
  height: 1em;
  width: 14%;
  background: linear-gradient(white, orange);
  align-items: center;
  padding: 2em;
  border-radius: 1em;
}
.items-items:hover {
  color: blueviolet;
}
.img-itesss{
    height: 20em;
    width: 20em;
}
.general-items{
    display: flex;
}
 .item-details{
    margin-top: 1em;
    font-size: 1em;
    font-family: lato;
    line-height:2em;
    
 }
 .title-4-product{
    font-size: 1.5em;
 }
 @media(max-width:1100px) and (min-width:600px){
  .items-text{
    font-size: 0.8em;
 
  }
  .other-pro-title {
    font-size: 1em;
    height: 2em;
    width: 20%;
    background-image: linear-gradient(white, rgb(144, 144, 138));
    padding: 2em;
 
}
 }