.contact-form {
  margin-top: 3em;
  border: solid rgb(143, 138, 138);
  padding-right: 2em;
  padding-left: 2em;
  padding-top: 4em;
  padding-bottom: 3em;
  width: 35em;
  border-radius: 0.5em;
}
input {
  width: 90%;
  height: 0.5em;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 2em;
  border: solid grey;
  outline: none;
}
textarea {
  width: 95%;
  height: 8em;
  border-radius: 1em;
  padding-left: 2em;
  padding-top: 3em;
}
.contact-submit {
  background: rgb(179, 123, 18);
  color: rgb(228, 236, 236);
  width: 100%;
  height: 3em;
  border: none;
  border-radius: 1em;
  font-weight: 400;
}
.btn-icon-sub {
  margin-top: 1em;
}
.contact-title {
  font-size: 2em;
  margin-bottom: 1em;
  color: rgb(104, 71, 10);
}
.contact-section {
  display: flex;
  gap: 4em;
  background: whitesmoke;
  box-shadow: 2em;
  width: 75%;
  margin-left: 7em;
  margin-top: 2em;
  border-radius: 1em;
  padding: 1em 4em;
}
.contact-details {
  margin-top: 6em;
  gap: 2em;
  margin-left: 3em;
}
.details-title {
  font-size: 2em;
  font-family: lato;
  color: rgb(213, 213, 141);
}
.contact-details-title {
  margin-bottom: 1em;
  margin-left: 3em;
}
.details-contact {
  margin-bottom: 3em;
  margin-top: 1em;
  font-family: lato;
  color: grey;
  font-size: 1.2em;
  border-top: solid brown;
}
.contact-address {
  display: flex;
  gap: 0.5em;
}
.phone-details {
  display: flex;
  gap: 0.5em;
}
.email-details {
  display: flex;
}
.social-handle {
  display: flex;
  justify-content: space-between;
}
.icons-social {
  display: flex;
  gap: 0.3em;
}
.icon-img {
  height: 1.2em;
  width: 1.5em;
}
@media (max-width: 1100px) {
  .contact-form {
    padding-left: 1em;
  }
  .contact-submit {
    margin-left: 0.5em;
  }
  .details-contact {
    margin-bottom: 4em;
    margin-top: 1em;
    font-family: lato;
    color: grey;
    font-size: 0.9em;
    border-top: solid brown;
  }
  .contact-details-title {
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    font-size: 1em;
  }
}
@media (max-width: 900px) {
  .contact-section {
    gap: 1em;
    width: 34em;
    margin-left: 6em;
  }
  .contact-form {
    padding-right: 3em;
  }
}
@media (max-width: 550px) {
  .contact-title {
    font-size: 1.5em;
  }
  .contact-form {
    width: 38em;
  }
  textarea {
    width: 108%;
  }
  .contact-submit {
    margin-left: 1.5em;
  }
}
@media (max-width: 400px) {
  .contact-section {
    flex-direction: column;
    margin-left: 0;
    width: 120%;
    padding: 1em;
  }
  .contact-form {
    width: 100%;
    padding-right: 0;
  }
  form {
    width: 100%;
  }
  input {
    width: 80%;
  }
  textarea {
    width: 85%;
  }
  .contact-submit {
    width: 90%;
  }
}
@media (width: 768px) {
  .contact-title {
    font-size: 1.5em;
  }
  textarea {
    width: 105%;
  }
}
