.home-sect {
  width: 78%;
  border-radius: 1em;
  margin-left: 1%;
  padding: 2em;
  margin-top: 2em;
}
.scroll-img {
  margin-left: 10%;
  height: 10em;
  width: 80%;
}
.currosel-img {
  height: 13em;
  width: 18em;
  margin-bottom: 1em;
  border-radius: 0.5em;
}
.gallery {
  display: flex;
  gap: 10em;
}

.carousel-img {
  height: 20em;
  width: 18em;
  object-fit: cover;
}
.home-elemets {
  margin-left: 8em;
  width: 90%;
  margin-top: 3em;
}

.scroll-img {
  display: flex;
  align-items: center;
}

/* Optionally, you can add styles to hide the scrollbar if you prefer */
.scroll-img::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and newer Edge */
}

/* For Firefox */
.scroll-img {
  scrollbar-width: none;
}
/* Add styles for the footer */
.footer {
  background-color: whitesmoke;
  padding: 20px;
  text-align: center;
  margin-left: 5em;
  width: 100%;
}
.socia-handle {
  display: flex;
  margin-left: 35%;
  gap: 4em;
  margin-top: 3em;
}
.locate-ico {
  display: flex;
  text-align: center;
  margin-left: 41%;
}
.contact-list {
  margin-top: 1em;
  margin-left: 1em;
}
.about-home {
  height: 3em;
  width: 40%;
  color: whitesmoke;
  background-color: rgb(205, 195, 211);
  align-items: center;
  padding: 4em;
  border-radius: 1em;
  margin: 1em;
  text-decoration: none;
}
.about-home-text {
  font-size: 3em;
  margin-left: 0.5em;
  font-family: lato;
}
.about-home-text:hover {
  color: rgb(155, 155, 215);
}
.about-product {
  height: 3em;
  width: 40%;
  color: whitesmoke;
  background-color: rgb(195, 211, 206);
  align-items: center;
  padding: 4em;
  border-radius: 1em;
  margin: 1em;
  text-decoration: none;
}
.item-home {
  display: flex;
  justify-content: space-between;
  margin-left: 3em;
  margin-bottom: 1em;
}
 @media(max-width:1300px){

 .item-home {
  display: flex;
 justify-content: space-between;
    margin-left: 0.5em;
    
}
.gallery {
  display: flex;
  gap: 4.5em;
}
 }
@media (max-width: 1100px) {
  
  .currosel-img {
    height: 20em;
    width: 130%;
    gap: 4em;
  }
  .about-home-text {
    font-size: 1.7em;
    margin-left: 0.6em;
    font-family: lato;
  }
  .item-home {
    display: flex;
    justify-content: space-between;
    margin-left: 1.5em;
    margin-bottom: 1em;
  }
  .home-sect {
    width: 80%;
    border-radius: 1em;
    margin-left: 0.1%;
    padding: 2em;
    margin-top: 2em;
  }
  .footer {
    background-color: whitesmoke;
    padding: 20px;
    text-align: center;
    margin-left: 5em;
    width: 100%;
  }
  .socia-handle {
    display: flex;
    margin-left: 26%;
  }
  .contact-list {
    margin-top: 1em;
    margin-left: 0.2em;
  }
}
@media (width:1024px){
  .currosel-img {
    height: 17em;
    width: 130%;
   justify-content: space-between;
    margin-top: 3em;
    margin-left: 3em;
  }
  .home-elemets {
    margin-left: 6em;
    width: 90%;
    margin-top: 7em;
}
}
@media (max-width: 912px) {
  .currosel-img {
    height: 9em;
    width: 10em;
  }
  .gallery {
    gap: 4.5em;
    margin-left: 2em;
  }
  .home-elemets {
    margin-left: 5em;
    width: 100%;
    align-items: center;
  }
  .about-product {
    font-size: 0.8em;
    width: 30%;
  }
  .about-home {
    font-size: 0.8em;
    width: 30%;
  }
}
@media (max-width: 400px) {
  .scroll-img {
    margin-left: 1%;
    height: 10em;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  .gallery {
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
  }
  .currosel-img {
    height: 15em;
    width: 24em;
    gap: 4em;
  }
  .home-elemets {
    margin-top: 46em;
    margin-left: 0.1em;
  }
  .about-home {
    margin-left: 0.3em;
    width: 100%;
  }
  .about-product {
    margin-left: 0em;
    width: 30%;
  }
  .item-home {
    margin-left: 0.8em;
    gap: 2em;
  }

  .footer {
    background-color: whitesmoke;
    padding: 21px;
    text-align: center;
    margin-left: 1em;
    width: 125%;
  }
  .socia-handle {
    display: flex;
    margin-left: 18%;
    gap: 1em;
    margin-top: 3em;
  }
  .locate-ico {
    display: flex;
    text-align: center;
    margin-left: 15%;
  }
  .socia-handle {
    margin-left: 1%;
  }
}
