.home-sect {
  width: 78%;
  border-radius: 1em;
  margin-left: 1%;
  padding: 2em;
  margin-top: 2em;
  overflow-x: hidden;
}
.banner-contact{
  height: 12em;
  background-color: white;
  margin-top: 3em;
  border-radius: 15em;
}
.details-contacts{
  display: flex;
  gap:-30em
}
.icons-social{
  display: flex;
  gap: 0.5em;
}
.icon-img{
  width: 1em;
  height: 1em;
}
a {
  text-decoration: none;
}
.contact-icon{
  height:1.5em;
  border-radius: 4em;
}
.iconics{
  display: flex;
  gap:1em;
  margin-left: 40%
}
.scroll-img {
  margin-left: 10%;
  height: 10em;
  width: 80%;
}
.currosel-img {
  height: 13em;
  width: 18em;
  margin-bottom: 1em;
  border-radius: 0.5em;
}
.gallery {
  display: flex;
  gap: 10em;
}

.carousel-img {
  height: 20em;
  width: 18em;
  object-fit: cover;
}
.home-elemets {
  margin-left: 8em;
  width: 90%;
  margin-top: 3em;
}

.scroll-img {
  display: flex;
  align-items: center;
}

/* Optionally, you can add styles to hide the scrollbar if you prefer */
.scroll-img::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and newer Edge */
}

/* For Firefox */
.scroll-img {
  scrollbar-width: none;
}
/* Add styles for the footer */
.footer {
  background-color: rgba(11, 197, 239, 0.59);
  padding: 20px;
  text-align: center;
  margin-left: 8em;
  width: 100%;
  height: 150%;

}
.copyright{
  margin-left: -3em;
}
.socia-handle {
  display: flex;
  margin-left: 10%;
  gap: 9em;
  margin-top: 3em;
}
.img-banner{
  margin-left: 10%;
}
.locate-ico {
  display: flex;
  text-align: center;
  margin-left: 41%;
}.contact-list {
  margin-top: 1.8em;
  margin-left:7em;
  width: 24em;
}
.about-home {
  height: 3em;
  width: 40%;
  color: whitesmoke;
  background-color: rgb(205, 195, 211);
  align-items: center;
  padding: 4em;
  border-radius: 1em;
  margin: 1em;
  text-decoration: none;
}
.about-home-text {
  font-size: 3em;
  margin-left: 0.5em;
  font-family: lato;
}
.about-home-text:hover {
  color: rgb(155, 155, 215);
}
.about-product {
  height: 3em;
  width: 40%;
  color: whitesmoke;
  background-color: rgb(195, 211, 206);
  align-items: center;
  padding: 4em;
  border-radius: 1em;
  margin: 1em;
  text-decoration: none;
}
.item-home {
  display: flex;
  justify-content: space-between;
  margin-left: 3em;
  margin-bottom: 1em;
}
@media (max-width: 1300px) {
  .item-home {
    display: flex;
    justify-content: space-between;
    margin-left: 0.5em;
  }
  .gallery {
    display: flex;
    gap: 4.5em;
  }
}
@media (max-width: 1100px) {
  .currosel-img {
    height: 20em;
    width: 130%;
    gap: 4em;
  }
  .about-home-text {
    font-size: 1.7em;
    margin-left: 0.6em;
    font-family: lato;
  }
  .item-home {
    display: flex;
    justify-content: space-between;
    margin-left: 1.5em;
    margin-bottom: 1em;
  }
  .home-sect {
    width: 80%;
    border-radius: 1em;
    margin-left: 0.1%;
    padding: 2em;
    margin-top: 2em;
  }
  .footer {
    background-color: whitesmoke;
    padding: 20px;
    text-align: center;
    margin-left: 5em;
    width: 100%;
  }
  .socia-handle {
    display: flex;
    margin-left: 26%;
  }
  .contact-list {
    margin-top: 1em;
    margin-left: 0.2em;
  }
}
@media (width: 1024px) {
  .currosel-img {
    height: 17em;
    width: 130%;
    justify-content: space-between;
    margin-top: 3em;
    margin-left: 3em;
  }
  .home-elemets {
    margin-left: 6em;
    width: 90%;
    margin-top: 7em;
  }
}
@media (max-width: 920px) {
  .currosel-img {
    height: 9em;
    width: 10em;
  }
  .gallery {
    gap: 4.5em;
    margin-left: 2em;
  }
  .home-elemets {
    margin-left: 5em;
    width: 100%;
    align-items: center;
  }
  .about-product {
    font-size: 0.8em;
    width: 30%;
  }
  .about-home {
    font-size: 0.8em;
    width: 30%;
  }
  .socia-handle {
    margin-left: 3em;
  }
  .contact-list {
    margin-top: 1em;
    margin-left: 0.2em;
  }
  .item-home {
    display: flex;
    gap: 0.3em;
    margin-left: 2.5em;
    margin-bottom: 1em;
    width: 35em;
}
.banner-contact{
  height: 12em;
  background-color: white;
  margin-top: 3em;
  border-radius: 15em;
}
.img-banner{
margin-left: -3%;
}
}
@media (max-width: 550px) {
  .footer {
    width: 162%;
    margin-left: 1.9em;
  }
  .socia-handle {
    margin-left: 10%;
  }
  .contact-list {
    margin-top: 1em;
    margin-left: 0.1em;
  }
  .locate-ico {
    margin-left: 33%;
  }
  .currosel-img {
    width: 11em;
  }
  .item-home {
    width: 150%;
  }
  hr {
    margin-left: 15em;
    width: 15em;
  }
  .dashboard {
    margin-left: 0.1em;
    width: 90%;
  }
}
@media (width: 768px) {
  .socia-handle {
    margin-left: 10%;
    gap: 3em;
  }
}
@media (max-width: 850px) {
  .socia-handle {
    margin-left: 2em;
  }
}
@media (max-width: 414px) {
  .scroll-img {
    margin-left: -2.4em;
    height: 10em;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  .iconics {
   
    margin-left: 5%;
}
  .gallery {
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
  }
  .currosel-img {
    height: 15em;
    width: 22.5em;
    gap: 4em;
  }
  .home-elemets {
    margin-top: 46em;
    margin-left: 0.1em;
  }
  .about-home {
    margin-left: 0em;
    width: 30%;
    font-size: 0.6em
  }
  .banner-contact{
    height: 8em;
    background-color: white;
    margin-top: 3em;
    border-radius: 15em;
    width: 5em;
  }
  .img-banner{
    margin-left: 1%;
  }
  .about-product {
    margin-left: 0em;
    width: 30%;
    font-size: 0.6em;
}
  .item-home {
    margin-left: 0.5em;
    gap: 2em;
  }

  .footer {
    background-color: whitesmoke;
    flex-direction: column;
    padding: 21px;
    text-align: start;
    margin-left: 1em;
    width: 125%;
  }
  .socia-handle {
    display: flex;
    gap: 0.5em;
    flex-direction: column;
    margin-top: 3em;
    margin-left: 1em;
    text-decoration: none;
}
  a {
    text-decoration: none;
  }
  .locate-ico {
    display: flex;
    text-align: center;
    margin-left: 0;
  }
  .dashboard {
    width: 75%;
  }
  .about-home-text {
    padding: 0.5em;
    font-size: 1.5em;
  }
  .item-home{
    width:80%;
    gap: 0.5em;
    margin-left: -1em;
  }
  .footer{
    width:110%;
    margin-left:-2em;
  
  }
  .twitter{
    display: none;
  }
}
@media(max-width:375px){
  .dashboard{
    width: 18em;
  }
  .currosel-img {
    width: 21em;
    gap: 4em;
}
.footer {
  width: 115%;
}
}
@media (max-width: 360px) {
  .footer {
    width: 23em;
    
  }
  .dashboard {
    width: 80%;
    margin-left: 0em;
    gap: 0.8em;
  }
  .banner-contact{
    height: 9em;
    background-color: white;
    margin-top: 3em;
    border-radius: 15em;
    width: 4em;
    
  }
  .img-banner{
    margin-left: -1.2em;
  }
  .iconics{
    gap:0.2em;
   
  }
}
@media(max-width:300px){
  .dashboard {
    width: 77%;
  
}
.currosel-img {
  width: 16em;
   
}
.about-home {

  font-size: 0.5em;
}
.about-product{
  font-size: 0.5em;
}
.contact-list {
  
  margin-left: 0em;
}
.img-banner{
 display: none;
}
 
 
}
