.dashboard {
  display: flex;
  width: 80%;
  gap: 5em;
  /* margin-top: 3em; */
  background: burlywood;
  height: 4em;
  align-items: center;
  padding-right: 4em;
  border-radius: 1em;
  margin-left: 6em;
  justify-content: space-evenly;
  text-decoration: none;
}
.dashboard-item a {
  padding-left: 4em;
  border-right: solid #f7f2f2;
  padding-right: 3em;
  font-family: lato;
  font-weight: 700;
  color: whitesmoke;
  text-decoration: none;
}
@media (max-width: 1100px) {
  .dashboard {
    display: flex;
    width: 80%;
    gap: 4em;
    background: burlywood;
    height: 4em;
    align-items: center;
    padding-right: 4em;
    border-radius: 1em;
    margin-left: 6em;
    justify-content: space-evenly;
    text-decoration: none;
  }
  .dashboard-item a {
    padding-left: 1.4em;
    border-right: solid #f7f2f2;
    padding-right: 3em;
    font-family: lato;
    font-weight: 700;
    color: whitesmoke;
    text-decoration: none;
  }
}
@media (max-width: 900px) {
  .dashboard {
    display: flex;
    width: 80%;
    gap: 3.5em;
    margin-top: 3em;
    background: burlywood;
    height: 4em;
    align-items: center;
    padding-right: 4em;
    border-radius: 1em;
    margin-left: 6em;
    justify-content: space-evenly;
    text-decoration: none;
  }
  .dashboard-item a {
    padding-left: 0.8em;
    border-right: solid #f7f2f2;
    padding-right: 3em;
    font-family: lato;
    font-weight: 700;
    color: whitesmoke;
    text-decoration: none;
    font-size: 0.8em;
  }
}
@media (max-width: 550px) {
  .dashboard {
    width: 40em;
  }
  .items-seg {
    display: flex;
    gap: 0.7em;
    margin-left: -1em;
  }
  .items-text {
    padding-left: 0.5em;
  }
}
@media (max-width: 414px) {
  .dashboard {
    display: flex;
    width: 100%;
    gap: 0.5em;
    background: burlywood;
    height: 4em;
    align-items: center;
    padding-right: 4em;
    margin-left: 2em;
    justify-content: safe;
    text-decoration: none;
  }
  .dashboard-item a {
    padding-left: 1em;
    border: none;
    padding-right: 1em;
    font-family: lato;
    font-weight: 900;
    color: whitesmoke;
    text-decoration: none;
    font-size: 0.5em;
  }
}
@media (max-width: 350px) {
  .dashboard {
    width: 22em;
  }
}

@media(max-width:300px){
  .dashboard-item{
    font-size: 0.8em;
  }
}