.nav-item {
  margin-bottom: 2em;
}
.img-prof {
  height: 4em;
  border-radius: 9em;
  margin-left: 35%;
}
 
.mount-comp{
  overflow-y: hidden;
}
.title-sub{
  margin-left: 40%;
  font-style: oblique;
  font-size: 1.5em;
}
@media(max-width:400px){
  .img-prof {
    height: 3em;
    border-radius: 9em;
    margin-left: 35%;
    width: 50%;
  }
  hr{
    display: none;
  }
   
}