.nav-item {
  margin-bottom: 2em;
}
.img-prof {
  height: 4em;
  border-radius: 1em;
  margin-left: 35%;
}
.icon-prof {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.bg-head {
  background: white;
}
.rest-code {
  margin-top: 1em;
}
.mount-comp {
  overflow-y: hidden;
}
.title-sub {
  margin-left: 40%;
  font-style: oblique;
  font-size: 1.5em;
}
@media (max-width: 550px) {
  .bg-head {
    margin-left: 1em;
    border: whitesmoke;
  }
  .title-sub {
    width: 15em;
  }
  .icon-prof {
    background-color: whitesmoke;
    width: 150%;
  }
  .img-prof {
    height: 4em;
    border-radius: 1em;
    margin-left: 20%;
}
}
@media (max-width: 414px) {
  .img-prof {
    height: 3em;
    border-radius: 9em;
    margin-left: 10%;
    width: 100%;
  }
  hr {
    display: none;
  }
  .icon-prof {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: white;
  }
  .bg-head {
    background: white;
  }
  .title-sub {
    margin-left: 20%;
    font-style: oblique;
    font-size: 1.5em;
    width: 100%;
    font-size: 1.2em;
  }
}
@media (max-width: 350px) {
  .title-sub {
    width: 200%;
  }
  .img-prof {
    margin-left: 50%;
  }
}
