.nav-item {
  margin-bottom: 2em;
}
.img-prof {
  height: 4em;
  border-radius: 1em;
  margin-left: 35%;
}
.pharm-details{
 background:  #E1EBEE;
 border-radius: 2em;
}
.icon-prof {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: #fafbfc;
}
.bg-head {
  background: #fafbfc;
}
.rest-code {
  margin-top: 1em;
  overflow-x: hidden;
}
.mount-comp {
  overflow-y: hidden;
}
.title-sub {
  margin-left: 40%;
  font-style: oblique;
  font-size: 1.5em;
}
@media (max-width: 550px) {
  .bg-head {
    margin-left: 1em;
    border: whitesmoke;
  }
  .title-sub {
    width: 15em;
  }
  .icon-prof {
    background-color: whitesmoke;
    width: 130%;
    margin-left:7em;
  }
  .img-prof {
    height: 4em;
    border-radius: 1em;
    margin-left: 20%;
    
}
}
@media (max-width: 414px) {
  .img-prof {
    height: 3em;
    border-radius: 9em;
    margin-left: 1%;
    width: 80%;
    margin-top: 0.5em;
}
  hr {
    display: none;
  }
  .icon-prof {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: white;
  }
  .bg-head {
    background: white;
  }
  .title-sub {
    margin-left: 20%;
    font-style: oblique;
    font-size: 1.5em;
    width: 100%;
    font-size: 1.2em;
    margin-left: 2%;
  }
  .icon-prof{
    margin-left: 0.5em;
  }
  
}
@media (max-width: 350px) {
  .title-sub {
    width: 100%;
  }
  .img-prof {
    margin-left: 10%;
  }
}
@media(max-width:300px){
  .rest-code{
    margin-top: 0.2em;
  }
  .img-prof {
    margin-left: 0%;
}
.title-sub {
  margin-left: 20%;
  font-style: oblique;
  font-size: 1em;
  width: 100%;
  margin-left: 2%;
}
}